*{
    margin: 0px;
    padding: 0px;
}
#heading{ 
    margin-left: 340px;
    text-decoration: underline;
    text-decoration-style: wavy;
     
}
#container{
    border: 2px solid;
    height: 500px;
    width: 800px;
    margin: 20px;
    padding: 10px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.box{
    width: 150px;
    height: 75px;
    text-align: center;
    border: 3px solid;
    margin: 4px;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blueviolet;
}
#box3{
    background-color: cadetblue;
}
#box4{
    background-color: brown;
}
#box5{
    background-color: chartreuse;
}
#box6{
    background-color: deeppink;
}
 